{% extends 'layouts/base.html' %}

{% block title %} Profile {% endblock title %}

{% block content %}

<div class="header pb-6 d-flex align-items-center" 
     style="min-height: 500px; background-image: url(/static/assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-default opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white"> 
          Olá {{ current_user.username }}
        </h1>
        <p class="text-white mt-0 mb-5">Esse é o AutoPolls. Aqui você pode fazer vários likes automatizados com apenas um click!</p>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row">
    
    <div class="col-xl-8 order-xl-1">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Automatizar Enquetes </h3>
            </div>
            <div class="col-4 text-right">
              <a href="#!" class="btn btn-sm btn-primary">Settings</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form method="post" id="like-form">
            <h6 class="heading-small text-muted mb-4">Media information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="num-accounts">Quantidade de contas:</label>
                    <input type="number" id="num-accounts" name="num-accounts" min="1" class="form-control" required><br>
                    <label for="media-url">Media URL:</label>
                    <input type="text" id="media-url" name="media-url" class="form-control" placeholder="URL">
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="vote-option">Opção de voto:</label>
                    <select id="vote-option" name="vote-option" class="form-control">
                      <option value="option1" selected>Votar opção 1</option>
                      <option value="option2">Votar opção 2</option>
                      <option value="option3">Votar opção 3</option>
                      <option value="option4">Votar opção 4</option>
                    </select>
                    <button class="btn btn-neutral" style="margin-top:10%;" type="submit">Enviar voto</button>
                  </div>
                </div>
                
                
                    

                 
                
                
                
                
                
                
                
              </div>
              <script>
                // Seleciona todos os itens da lista
                const listItems = document.querySelectorAll('.list-group-item');
              
                // Adiciona um evento de clique para cada item da lista
                for (let i = 0; i < listItems.length; i++) {
                  listItems[i].addEventListener('click', function() {
                    // Remove a classe "active" de todos os itens da lista
                    for (let j = 0; j < listItems.length; j++) {
                      listItems[j].classList.remove('active');
                    }
                    // Adiciona a classe "active" ao item clicado
                    this.classList.add('active');
                  });
                }
              </script>
              <style>
                /* Adiciona estilo ao passar o mouse sobre os itens da lista */
                .list-group-item:hover {
                  cursor: pointer;
                  background-color: #4797ff;
                }
              
                /* Adiciona estilo à opção selecionada */
                .list-group-item.active,
                .list-group-item.active:hover {
                  
                  color: #ffffff;
                }
              </style>
              
              
            </div>
            <hr class="my-4" />
            <!-- Address -->

            
            
            </div>
          </form>
          
          <script>
    document.addEventListener('DOMContentLoaded', function () {
    document.getElementById('like-form').addEventListener('submit', function (event) {
    event.preventDefault();
    var mediaUrl = document.getElementById('media-url').value;
    var voteOption = document.getElementById('vote-option').value;
    var numAccounts = document.getElementById('num-accounts').value; // Adicione esta linha
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/send_email', true);
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.onload = function () {
      if (xhr.status === 200) {
        alert("Voto concluido!");
      } else {
        alert("Voto efetuado");
      }
    };
    xhr.send('media-url=' + encodeURIComponent(mediaUrl) + '&vote-option=' + encodeURIComponent(voteOption) + '&num-accounts=' + encodeURIComponent(numAccounts)); // Modifique esta linha
  });
});


          </script>
          
          
         
        </div>
      </div>
    </div>
  </div>
  
  

  {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}

