{% extends 'layouts/base.html' %}

{% block title %} Profile {% endblock title %}

{% block content %}


<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock javascripts %}


<div class="header pb-6 d-flex align-items-center" 
     style="min-height: 500px; background-image: url(/static/assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-default opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white"> 
          Olá {{ current_user.username }}
        </h1>
        <p class="text-white mt-0 mb-5">Esse é o AutoFollow. Aqui você pode seguir um perfis com varios úsuarios apenas um click!</p>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row">
    
    <div class="col-xl-8 order-xl-1">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Automatizar followers </h3>
            </div>
            <div class="col-4 text-right">
              <a href="#!" class="btn btn-sm btn-primary">Settings</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form method='post' onsubmit="followUser(event)"> 
            <h6 class="heading-small text-muted mb-4">User information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                      <label for="num-followers">Quantidade de seguidores:</label>
                      <input type="number" id="num-followers" name="num-followers" min="1" class="form-control" required><br>
                      <label for="username">Username:</label>
                      <input type="text" id="username" name="username" class="form-control" placeholder="Username">
                      <button class="btn btn-neutral" style="margin-top:10%;" type="submit">Follow</button>
                  </div>
              </div>
              
                <script>
                  function followUser(event) {
                  event.preventDefault();
                  var username = document.getElementById("username").value;
                  var numFollowers = document.getElementById("num-followers").value;

                  // Make the AJAX request
                  var xhr = new XMLHttpRequest();
                  xhr.open("POST", "/user_follow", true);
                  xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                  xhr.send("username=" + username + "&num-followers=" + numFollowers);

                  // Handle the response
                  xhr.onreadystatechange = function () {
                    if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                      // Show Swal.fire popup
                      Swal.fire({
                        title: "Sucesso",
                        text: numFollowers + " seguidores foram adicionados ao usuário " + username,
                        icon: "success",
                        confirmButtonText: "OK",
                      });
                    } else if (xhr.readyState === XMLHttpRequest.DONE) {
                      // Show error Swal.fire popup
                      Swal.fire({
                        title: "Erro",
                        text: "Ocorreu um erro ao seguir o usuário",
                        icon: "error",
                        confirmButtonText: "OK",
                      });
                    }
                  };
                }


                </script>
                
                
                
                
              </div>
              
            </div>
            <hr class="my-4" />
            <!-- Address -->

            
            </div>
          </form>
          <div id="response"></div>
        </div>
        <div class="card">
          <div class="card-header border-0">
            <h3 class="mb-0">Histórico de Seguidores</h3>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush" id="followers-history-table">
              <thead class="thead-light">
                <tr>
                  <th>Data e Hora</th>
                  <th>Usuário Seguido</th>
                  <th>Quantidade de Seguidores</th>
                </tr>
              </thead>
              <tbody id="followers-history-table-body">
              </tbody>
            </table>
          </div>
        </div>
          <script>const followersTableBody = document.querySelector("#followers-history-table-body");

            fetch("/get_history_follow")
              .then(response => response.json())
              .then(followersHistory => {
                followersHistory.forEach(record => {
                  const row = document.createElement("tr");
            
                  const timestampCell = document.createElement("td");
                  timestampCell.innerText = record.timestamp;
                  row.appendChild(timestampCell);
            
                  const followedUserCell = document.createElement("td");
                  followedUserCell.innerText = record.target_username;
                  row.appendChild(followedUserCell);
            
                  const numFollowersCell = document.createElement("td");
                  numFollowersCell.innerText = record.num_followers;
                  row.appendChild(numFollowersCell);
            
                  followersTableBody.appendChild(row);
                });
              });
            </script>        
      </div>
    </div>
  </div>
  
  


  {% include "includes/footer.html" %}

</div>

{% endblock content %}


